.szegely{
    border:1px solid black;
    padding: 20px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 5px;
    background-image: url(nature.jpg);
    font-family:fantasy;
}
#link{
    font-size: 20px;

}
body{
    background-color: bisque !important;
}

